<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.app.mapper.CoursesArticleDetailMapper">

    <select id="queryByArticleTitle" parameterType="java.lang.String" resultType="org.jeecg.modules.app.entity.CoursesArticleDetail">
        SELECT *
        FROM courses_article_detail
        WHERE article_title like #{articleTitle}
    </select>

    <select id="queryByArticleType" parameterType="java.lang.String" resultType="org.jeecg.modules.app.entity.CoursesArticleDetail">
        SELECT *
        FROM courses_article_detail
        WHERE article_type_id in
              (SELECT id
               FROM courses_article_type
               WHERE article_type like #{articleType})
    </select>

    <!-- 根据教师id查询文章 -->
    <select id="queryArticleByTeacherId" parameterType="string" resultType="org.jeecg.modules.app.entity.CoursesArticleDetail">
        SELECT * FROM courses_article_detail
        WHERE teacher_id = #{teacherId}
    </select>

    <!-- 根据文章id查询文章详情 -->
    <select id="queryArticleById" parameterType="string" resultType="org.jeecg.modules.app.entity.CoursesArticleDetail">
        SELECT * FROM courses_article_detail
        WHERE id = #{id}
    </select>

    <!--获取我收藏的文章-->
    <select id="queryUserArticle" resultType="org.jeecg.modules.app.vo.CoursesArticleDetailVo">
        SELECT cd.id AS articleId, article_title AS articleTitle, article_picture AS articlePicture, teacher_name AS teacherName
        FROM courses_teacher AS ct
        INNER JOIN courses_article_detail AS cd
        ON  ct.id = cd.teacher_id
        WHERE cd.id IN (SELECT id FROM courses_article_collect WHERE user_id=#{userId})
    </select>


</mapper>