<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.app.mapper.CoursesArticleLikeMapper">
    <insert id="addCollectArticle">
        INSERT INTO courses_article_collect values(#{id},#{userId},#{articleId})
    </insert>

    <delete id="deleteCollectArticle">
        DELETE FROM courses_article_collect WHERE user_id = #{userId} AND article_id=#{articleId}
    </delete>

    <select id="queryArticleLikeNum" resultType="java.lang.Integer">
        SELECT count(*) FROM courses_article_like WHERE article_id=#{articleId}
    </select>

    <select id="queryArticleCollectNum" resultType="java.lang.Integer">
        SELECT count(*) FROM courses_article_collect WHERE article_id=#{articleId}
    </select>

    <select id="judgeCollectArticle" resultType="java.lang.String">
        SELECT id FROM courses_article_collect WHERE user_id = #{userId} AND article_id=#{articleId}
    </select>
</mapper>