<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.app.mapper.CoursesTeacherMapper">

    <!-- 根据id查询教师信息 -->
    <select id="queryTeacherById" parameterType="string" resultType="org.jeecg.modules.app.entity.CoursesTeacher">
        SELECT * FROM courses_teacher WHERE id = #{teacherId}
    </select>

    <!-- 添加用户对教师的关注 -->
    <insert id="addTeacherFans" parameterType="string">
        INSERT INTO courses_teacher_focus(teacher_id, user_id)
        VALUES (#{teacherId},#{userId})
    </insert>

    <!-- 取消用户对教师的关注 -->
    <delete id="deleteTeacherFans" parameterType="string">
        DELETE FROM courses_teacher_focus
        WHERE teacher_id = #{teacherId} and user_id = #{userId}
    </delete>

    <!-- 查询用户关注教师的信息 -->
    <select id="queryUserFollowTeacherInfo" parameterType="string" resultType="org.jeecg.modules.app.entity.CoursesTeacher">
        SELECT *
        FROM courses_teacher
        WHERE id in (
        SELECT teacher_id as id FROM courses_teacher_focus
        WHERE user_id = #{userId} )
    </select>

    <!-- 查询教师粉丝数 -->
    <select id="queryTeacherFansNum" parameterType="string" resultType="java.lang.Integer">
        SELECT count(1) FROM courses_teacher_focus
        WHERE teacher_id = #{teacherId}
    </select>

    <!-- 查询用户关注数 -->
    <select id="queryUserFollowNum" parameterType="string" resultType="java.lang.Integer">
        SELECT count(1) FROM courses_teacher_focus
        WHERE user_id = #{userId}
    </select>

    <!-- 查询用户和教师是否关注 -->
    <select id="queryIsFollowByUserIdAndTeacherId" parameterType="String" resultType="java.lang.Integer">
        SELECT count(1) FROM courses_teacher_focus
        WHERE teacher_id = #{teacherId} and user_id = #{userId}
    </select>


</mapper>