<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.app.mapper.CoursesFlashSaleMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  courses_flash_sale 
		WHERE
			 course_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.app.entity.CoursesFlashSale">
		SELECT * 
		FROM  courses_flash_sale
		WHERE
			 course_id = #{mainId} 	</select>

	<select id="queryCourseSaleByCourseId" parameterType="java.lang.String" resultType="org.jeecg.modules.app.entity.CoursesFlashSale">
		SELECT *
		FROM courses_flash_sale
		WHERE course_id = #{coursesId}
	</select>
</mapper>
