<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.app.mapper.CoursesCommentMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  courses_comment 
		WHERE
			 courses_detail_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.app.entity.CoursesComment">
		SELECT * 
		FROM  courses_comment
		WHERE
			 courses_detail_id = #{mainId} 	</select>

	<!--查询课程评价信息-->
    <select id="queryCoursesCommentList" resultType="org.jeecg.modules.app.vo.CoursesCommentDetailVo">
		SELECT cc.id,su.user_id,avatar,name as realName,comment_content,comment_time,comment_level
		FROM courses_systemuser as su,courses_comment as cc
		WHERE cc.courses_detail_id=#{coursesDetailId} AND cc.user_id=su.user_id
		order by comment_time desc
		<if test="limit != 0  ">
			LIMIT #{limit}
		</if>
	</select>
</mapper>
