<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.app.mapper.CoursesOrderMapper">



    <!-- 插入订单 -->
    <insert id="insertOrder">
        INSERT INTO courses_order (user_id, coupon_id, order_sn,courses_id,create_time, total_amount, pay_amount, promotion_amount,
        coupon_amount, pay_type, status, order_type, note, delete_status)
        VALUES (#{coursesOrder.userId},#{coursesOrder.couponId},#{coursesOrder.orderSn},#{coursesOrder.coursesId},#{coursesOrder.createTime},#{coursesOrder.totalAmount},
        #{coursesOrder.payAmount},#{coursesOrder.promotionAmount},#{coursesOrder.couponAmount},#{coursesOrder.payType},#{coursesOrder.status},
        #{coursesOrder.orderType},#{coursesOrder.note},#{coursesOrder.deleteStatus})

    </insert>

    <!-- 删除订单 实际修改了删除订单状态 -->
    <update id="deleteOrderByuserId">
        UPDATE courses_order
        SET delete_status = 1
        WHERE order_sn = #{orderSn} AND user_Id = #{userId}
    </update>

    <!-- 支付成功回调修改订单状态 -->
    <update id="paySuccessedUpdateOrder">
        UPDATE courses_order
        SET status = 1
        WHERE order_sn = #{orderSn}
    </update>

    <!-- 未支付超时修改订单状态 -->
    <update id="payTimeoutUpdateOrder">
        UPDATE courses_order
        SET status = 2
        WHERE order_sn = #{orderSn} AND user_id = #{userId}
    </update>


    <!-- 根据用户id和订单状态查询用户订单 -->
    <select id="selectOrderByUserIdAndOrderType" resultType="org.jeecg.modules.app.vo.CoursesOrderInfo">
        SELECT order_sn,create_time,pay_amount,courses_id,status
        FROM courses_order
        WHERE user_id = #{userId}
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <!-- 查询同个用户同个课程订单是否重复存在 -->
    <select id="selectOrderIsExist" resultType="org.jeecg.modules.app.entity.CoursesOrder">
        SELECT * FROM courses_order
        WHERE courses_id = #{coursesId} AND user_id = #{userId}
    </select>
</mapper>