<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.app.mapper.WebSocketMapper">

    <!--插入历史记录-->
    <insert id="insertRecord">
        INSERT INTO chat_msg(sender_id,receiver_id,send_text,send_time,msg_type)
        VALUES(#{senderId},#{receiverId},#{sendText},#{sendTime},#{msgType})
    </insert>

    <!--获取聊天记录-->
    <select id="getChatRecord" resultType="org.jeecg.modules.app.vo.Message">
        SELECT * FROM chat_msg WHERE (sender_id=#{userId} AND receiver_id=#{teacherId} ) OR (sender_id=#{teacherId} AND receiver_id=#{userId}) ORDER By send_time
    </select>
</mapper>