<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.SysAnnouncementMapper">

	<resultMap id="SysAnnouncement" type="org.jeecg.modules.system.entity.SysAnnouncement" >
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="titile" property="titile" jdbcType="VARCHAR"/>
		<result column="msg_content" property="msgContent" jdbcType="VARCHAR"/>
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
		<result column="sender" property="sender" jdbcType="VARCHAR"/>
		<result column="priority" property="priority" jdbcType="VARCHAR"/>
		<result column="msg_category" property="msgCategory" jdbcType="VARCHAR"/>
		<result column="msg_type" property="msgType" jdbcType="VARCHAR"/>
		<result column="send_status" property="sendStatus" jdbcType="VARCHAR"/>
		<result column="send_time" property="sendTime" jdbcType="VARCHAR"/>
		<result column="cancel_time" property="cancelTime" jdbcType="VARCHAR"/>
		<result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
		<result column="create_by" property="createBy" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="user_ids" property="userIds" jdbcType="VARCHAR"/>
		<result column="bus_type" property="busType" jdbcType="VARCHAR"/>
		<result column="bus_id" property="busId" jdbcType="VARCHAR"/>
		<result column="open_type" property="openType" jdbcType="VARCHAR"/>
		<result column="open_page" property="openPage" jdbcType="VARCHAR"/>
	</resultMap>
	
	
	<select id="querySysCementListByUserId" parameterType="String"  resultMap="SysAnnouncement">
	   select * from sys_announcement 
	   where send_status = '1' 
	   and del_flag = '0' 
	   and msg_category = #{msgCategory} 
	   and id IN ( select annt_id from sys_announcement_send where user_id = #{userId} and read_flag = '0')
	   order by create_time DESC
	</select>

	<!-- 根据id查询企业合作计划信息 -->
	<select id="selectCooperationById" resultType="org.jeecg.modules.system.entity.FateCooperation">
		SELECT id , plan_name , cooperation , marketing_system , algorithm_selection , trading_straregy
		FROM fate_cooperation
		WHERE id = #{id}
	</select>

	<!-- 根据id查询企业合作通告数据 -->
	<select id="selectSysAnnouncementById" resultType="org.jeecg.modules.system.entity.SysAnnouncement">
		SELECT * FROM sys_announcement
		WHERE id = #{id}
	</select>

	<!-- 根据id查询企业合作sender的id -->
	<select id="selectSenderIdById" resultType="string">
		SELECT b.id
		FROM sys_announcement AS a , sys_user AS b
		WHERE a.id = #{id} AND b.username = a.create_by
	</select>
	
	<!-- 插入fate_project信息 -->
	<insert id="insertFateProject">
		INSERT INTO fate_project (id,firm , strategy , third_party,status,process,plan_name)
		VALUES (#{fateCooperation.id},#{fateCooperation.cooperation},#{fateCooperation.tradingStraregy},#{fateCooperation.marketingSystem},'未执行',#{fateCooperation.algorithmSelection},#{fateCooperation.planName})
	</insert>

	<!-- 查询fate_cooperation表的agree_count值 -->
	<select id="selectAgreeCountById" resultType="string">
		SELECT agree_count
		FROM fate_cooperation
		WHERE id = #{fateCooperation.id}
	</select>

	<!-- 插入fate_run_project信息 -->
	<insert id="insertRunProject">
		INSERT INTO fate_run_project (id , fate_project_id , plan_name )
		VALUES (#{id},#{fateCooperation.id},#{fateCooperation.planName})
	</insert>

	<!-- 减少fate_cooperation表的agree_count值 -->
	<select id="updateAgreeCount">
		UPDATE fate_cooperation
		SET agree_count = agree_count - 1
		WHERE id = #{fateCooperation.id}
	</select>

	<!-- 修改status状态为执行中 -->
	<update id="updateRunningStatus">
		UPDATE fate_project
		SET status = '执行中'
		WHERE id = #{fateProjectId}
	</update>

</mapper>